.header{
	background-color: blue;
	margin-bottom: 30px;
	color: white;
}
body{
	height: 100%;
	background-image: url("../images/RPSBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
/*	color: white;
	margin: 0;
	*/
/*	font-size: 20px;*/
	font-weight: bold;
}
#playerName{
	margin-bottom: 5px;
}
#result{
	height: 50px;
	font-weight: bold;
	font-size: 18px;
}
.player{
	border: solid black 5px;
	min-height: 425px;
}
.name{
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 10px;
}
.RPSimages{
	width: 200px;
}
.chatbox{
	margin-top: 5px;
	background-color: white;
	border: solid black 5px;
	color: black;
	height: 200px;
	overflow-y: auto;
}
.chat{
	display: none;
}
.box{
	margin-bottom: 30px;
}